
<input type="hidden" name="gatewayToken" value="{{ gateway.getToken(vault ? currentUser : null, order.paymentCurrency, currentSite) }}" />
<input type="hidden" name="nonce" value="" />
<input type="hidden" name="deviceData" value="" />
<input type="hidden" name="amount" value="{{ order.outstandingBalance }}" />
<input type="hidden" name="currency" value="{{ order.paymentCurrency }}">
<input type="hidden" name="email" value="{{ order.email }}">
<input type="hidden" name="address" value="{{ gateway.format3DSAddress(order)|json_encode }}">

<div data-id="dropInUi" {{ gateway.testMode ? 'data-sandbox' }} data-name="{{ storeName ?? siteName }}" data-locale="{{ craft.app.locale().id|replace('-','_') }}" data-subscription="{{ subscription }}" data-threedsecure="{{ threeDSecure }}" data-manage="{{ manage }}" data-translations="{{ (translations ?? null)|json_encode }}" data-google-pay-id="{{ googlePayMerchantId }}"></div>

{% if callbacks ?? [] %}
	{% js %}
		{% for key, callback in callbacks %}
			window.commerceBT.callbacks.{{ key }} = {{ callback|raw }}
		{% endfor %}
	{% endjs %}
{% endif %}