{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Commerce Braintree plugin for Craft CMS 3.x
 *
 * Commerce Braintree Settings.twig
 *
 * @author    Kurious Agency
 * @copyright Copyright (c) 2018 Kurious Agency
 * @link      https://kurious.agency
 * @package   CommerceBraintree
 * @since     1.0.0
 */
#}

{% from "_includes/forms" import autosuggestField, lightswitchField, booleanMenuField %}

{{ autosuggestField({
    label: 'Merchant ID'|t('commerce'),
    id: 'merchantId',
    class: 'ltr',
    name: 'merchantId',
    value: gateway.getMerchantId(false),
    errors: gateway.getErrors('merchantId'),
	suggestEnvVars: true,
	required: true,
}) }}

{{ autosuggestField({
    label: 'Public Key'|t('commerce'),
    id: 'publicKey',
    class: 'ltr',
    name: 'publicKey',
    value: gateway.getPublicKey(false),
    errors: gateway.getErrors('publicKey'),
	suggestEnvVars: true,
	required: true,
}) }}

{{ autosuggestField({
    label: 'Private Key'|t('commerce'),
    id: 'privateKey',
    class: 'ltr',
    name: 'privateKey',
    value: gateway.getPrivateKey(false),
    errors: gateway.getErrors('privateKey'),
	suggestEnvVars: true,
	required: true,
}) }}

{{ autosuggestField({
    label: 'Google Pay Merchant ID'|t('commerce'),
    instructions: 'PLEASE NOTE: your Google Pay Merchant ID is used in a data attribute on the Drop-in UI and therefore publicly viewable in your page source code.',
    id: 'googlePayMerchantId',
    class: 'ltr',
    name: 'googlePayMerchantId',
    value: gateway.getGooglePayMerchantId(false),
    errors: gateway.getErrors('googlePayMerchantId'),
	suggestEnvVars: true,
}) }}


{{ booleanMenuField({
     label: "Test mode?"|t('commerce'),
     name: 'testMode',
     value: gateway.getTestMode(false),
     includeEnvVars: true,
     errors: gateway.getErrors('testMode'),
}) }}

{% set currencies = craft.commerce.paymentCurrencies.getAllPaymentCurrencies %}
{# {% if currencies|length > 1 %} #}
<hr>
{% for currency in currencies %}
{{ autosuggestField({
    label: currency.iso~' Merchant Account ID'|t('commerce'),
    class: 'ltr',
    name: 'merchantAccountIds['~currency.iso~']',
    value: gateway.getMerchantAccountId(currency.iso, false),
	suggestEnvVars: true,
	required: true,
}) }}
{% endfor %}
{# {% endif %} #}

<hr>
<a class="fieldtoggle" data-target="advanced">{{ "Advanced"|t('app') }}</a>
<div id="advanced" class="hidden">
    {{ autosuggestField({
        label: 'Drop-in UI SDK Version'|t('commerce-braintree'),
        instructions: 'SDK version used for drop-in UI on site front end. Most recent versions are listed in the [GitHub repository](https://github.com/braintree/braintree-web-drop-in/tags).',
        id: 'dropinUiSDKVersion',
        class: 'ltr',
        name: 'dropinUiSDKVersion',
        value: gateway.getDropinUiSDKVersion(false),
        errors: gateway.getErrors('dropinUiSDKVersion'),
        suggestEnvVars: true
    }) }}
    {{ autosuggestField({
        label: 'Client SDK Version'|t('commerce-braintree'),
        instructions: 'SDK version used for hosted fields in the control panel. Most recent versions are listed in the [GitHub repository](https://github.com/braintree/braintree-web/tags).',
        id: 'clientSDKVersion',
        class: 'ltr',
        name: 'clientSDKVersion',
        value: gateway.getClientSDKVersion(false),
        errors: gateway.getErrors('clientSDKVersion'),
        suggestEnvVars: true
    }) }}
</div>